<mat-card>
    <mat-card-title>Nova Congregação</mat-card-title>

    <form class="form-login">
        <p>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nome" [(ngModel)] = "congregacao.nome" name="nome"/>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Dirigente" [(ngModel)] = "congregacao.dirigente" name="dirigente"/>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Endereço" [(ngModel)] = "congregacao.logradouro" name="logradouro"/>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Bairro" [(ngModel)] = "congregacao.bairro" name="bairro"/>
                    </mat-form-field>            
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cidade" [(ngModel)] = "congregacao.cidade" name="cidade"/>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
</mat-card>

<button mat-raised-button (click)="createCongregacao()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>