<mat-card>
    <mat-card-title>Editar Congregação</mat-card-title>

    <form>
        <mat-form-field *ngIf="congregacao?.nome">
            <input matInput placeholder="Nome" [(ngModel)] = "congregacao.nome" name="nome"/>
        </mat-form-field>

        <mat-form-field *ngIf="congregacao?.dirigente">
            <input matInput placeholder="Dirigente" [(ngModel)] = "congregacao.dirigente" name="dirigente"/>
        </mat-form-field>
    
        <mat-form-field *ngIf="congregacao?.logradouro">
            <input matInput placeholder="Endereço" [(ngModel)] = "congregacao.logradouro" name="logradouro"/>
        </mat-form-field>
        
        <mat-form-field *ngIf="congregacao?.bairro">
            <input matInput placeholder="Bairro" [(ngModel)] = "congregacao.bairro" name="bairro"/>
        </mat-form-field>

        <mat-form-field *ngIf="congregacao?.cidade">
            <input matInput placeholder="Cidade" [(ngModel)] = "congregacao.cidade" name="cidade"/>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="updateCongregacao()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>