<mat-card class="card-login">
    <mat-card-header>
        <mat-card-title>Atualização de Senha</mat-card-title>
    </mat-card-header>
    <br />

    <mat-card-content>
        <form class="form-login">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Senha atual</mat-label>
                            <input matInput placeholder="Sua senha" [(ngModel)] = "aux.nome" [type]="hide ? 'password' : 'text'" name="senha" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Nova senha</mat-label>
                            <input matInput placeholder="Nova senha" [(ngModel)] = "aux.senha" [type]="hide ? 'password' : 'text'" name="nome" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Confirme a nova senha</mat-label>
                            <input matInput placeholder="Nova senha" [(ngModel)] = "aux.email" [type]="hide ? 'password' : 'text'" name="email" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
              </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="updateSenha()" color="primary">Atualizar</button>
        <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
    </mat-card-actions>
</mat-card>